.myFooter {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerColumn {
    display: inline-block;
    width: 15%;
}

.footerElementTitle {
    display: block;
}

.footerElement {
    display: block;
}

footer {
    background-color: #BF8F30;
    margin: 0px;
    padding: 0px;

    left: 0;
    bottom: 0;
    width: 100%;

    flex-shrink: 0;
}
