
.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 23%;
    min-height: 5%;
    min-width: 5%;
    max-height: 15%;
    max-width: 20%;
}

.product-image {
    /* min-width: 150px;
    min-height: 150px;
    max-height:300px;
    max-width:300px;*/

    height: 200px;
    width: 180px;
    margin-bottom: 10px;
}

/*.product-image-container {
    height: 80%;
    width: 70%;
}*/
.product-description {
    height:100px;
}
.product-name {
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-quantity {
    align-items: center;
    margin-bottom: 1%;
    vertical-align: bottom;
    display: inline-block;
    align-items: flex-end;
    flex: 1 0 auto;
}

.plus-btn, .minus-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.add-to-cart-btn {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}



/*красота*/
.product-page {
    background-color: #f2f2f2;
}

.product-item {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    min-width: 200px;
    min-height: 300px;
}

.product-image {
    border-radius: 5px;
}

.plus-btn, .minus-btn {
    color: #fff;
    background-color: #000;
}

.add-to-cart-btn {
    color: #fff;
    background-color: #000;
}

.product-name {
    color: #000;
}
.product-description {
    color: #000;
    font-size: small;
    width:auto
}

.product-price {
    color: #009900;
}

.plus-btn:hover, .minus-btn:hover {
    background-color: greenyellow;
}

.add-to-cart-btn:hover {
    background-color: #009900;
}


/*анимация*/
button:hover {
    color: black;
    background-color: #00FF00;
    transition: all 0.5s ease;
}

img:hover {
    width: 200px;
    transition: all 0.5s ease;
}




/*table.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/



/*
container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

*/



