

nav {
    background-color: lawngreen;
    /*margin: 50px;*/
    height: 80px;
    line-height: 80px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

    .menu li {
        margin: 0 10px;
    }

        .menu li a {
            text-decoration: none;
            color: #333;
            font-size: 20px;
            padding: 10px;
        }

            .menu li a:hover {
                font-size: 150%;
                transition: 0.5s;
                text-decoration: none;
                color: black;
            }


 