
header {
    background: linear-gradient(#D5F800, #FFF073 );
    padding: 1% 0;
    width: 100%;
}
 

.headerBlock {
    text-align: center;

}
    .headerBlock a {
        text-decoration: none;
        color: #333;
        font-size: 20px;
        padding: 10px;
    }

        .headerBlock a:hover {
            font-size: 150%;
            transition: 0.5s;
            text-decoration: none;
            color: black;
        }


 