<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KindBee.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="logo">
        </div>

        <nav>
            <ul class="menu">
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                <li> <a asp-area="" asp-controller="Basket" asp-action="Init">Корзина</a></li>
                <li> <a asp-area="" asp-controller="Order" asp-action="Init">Мои заказы</a></li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Privacy">Наша политика сотрудничества</a></li>
                <li> <a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
                <li> <a asp-area="" asp-controller="Admin" asp-action="Init">Режим администратора</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            <h1 class="text-center">@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="myFooter">

            <div class="footerColumn">
                <div class="footerElementTitle">Информация</div>
                <div class="footerElement"> <a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Доставка и оплата</a></div>
                <div class="footerElement"> <a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Как сделать заказ</a></div>
                <div class="footerElement"> <a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Промокоды и купоны</a></div>
            </div>

            <div class="footerColumn">
                <div class="footerElementTitle">Служба поддержки</div>
                <div class="footerElement"><a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Наши контакты</a></div>
                <div class="footerElement"> <a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Товары со скидкой</a> </div>
                <div class="footerElement"> <a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Клубная программа</a> </div>
            </div>

            <div class="footerColumn">
                <div class="footerElementTitle">Дополнительно</div>
                <div class="footerElement"><a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Личный кабинет</a></div>
                <div class="footerElement"><a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Рассылка новостей</a></div>
                <div class="footerElement"><a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Карта сайта</a></div>
                <div class="footerElement"><a class="IncreaseA" asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a></div>

            </div>
            <div class="footerColumn">
                <div class="footerElementTitle">Наши контакты</div>
                <div class="footerElement">тел. 89009641212</div>
                <div class="footerElement">email: venchikovdmitriiii@mail.ru</div>
                <div class="footerElementTitle">Наш адрес</div>
                <div class="footerElement">г. Рязань, ул. Пушкина д. 7</div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
