<!DOCTYPE html>
<html>
 
<body style="text-align:center;">
    <h1>Подсказка</h1>

    <p>Наведите указатель мыши на текст ниже:</p>

    <div class="mytooltip">
        <h5>Наведите курсор на меня</h5>
        <span class="mytooltiptext">Текст подсказки</span>
    </div>
</body>
</html>









